<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship/cadastro</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
        <link rel="stylesheet" href="assets/style.css" type="text/css" />
    </head>
    <body>
        <header>
             <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
        </header>
       
       <main>
           <h1>CADASTRAR
           </h1>
            <form method= "post">
                <label for="nome">Nome:</label><br>
                <input type="text" name="nome" placeholder ="nome"/><br>
                 <label for="nome">Apelido:</label><br>
                <input type="text" name="apelido" placeholder ="apelido"/><br>
                <label for="senha">Senha:</label><br>
                <input type="password" name="senha" placeholder="senha"/><br>
                <input type="password" name="confSenha" placeholder=" confirme senha"/><br>
                <input class= "button" type="submit" value="entrar"/>
            </form>
       </main>
           
        
    </body>
    
</html>

<script>
//battleship.init( document.querySelector('#board1') );
//battleship.init1( document.querySelector('#board2') );
//battleship.start();

</script>