<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
        <link rel="stylesheet" href="assets/style.css" type="text/css" />
    </head>
    <body>
        <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <nav>
                <ul>
                    <li>
                        <a id ="play">JOGAR</a>
                    </li>
                    <li>
                        <a id="aLogin">ENTRAR</a>
                    </li>
                    <li>
                        <a id="aScore">PLACAR</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class='modals' id='divLogin'>
            <form>
                <label for="nome">Apelido:</label><br>
                <input type="text" name="nome" placeholder ="apelido"/><br>
                <label for="senha">Senha:</label><br>
                <input type="password" name="senha" placeholder="senha"/><br>
                <input class= "button" type="submit" value="entrar"/>
            </form>
            <button class="return"><</button>
        </div>
         <div class='modals' id='divScore'>
              <button class="return"><</button>
        </div>
        <main>
            <div class='game' id='board1'></div>
            <div class='game' id='board2'></div>
        </main>
        
    </body>
    
</html>

<script>
//battleship.init( document.querySelector('#board1') );
//battleship.init1( document.querySelector('#board2') );
//battleship.start();

</script>