
<div class='game' id='board1'></div>
<div class='game' id='board2'></div>

<%= javascript_include_tag "battleship", "data-turbolinks-track" => true  %>
<script>
battleship.init( document.querySelector('#board1') );
battleship.init1( document.querySelector('#board2') );
battleship.start();
</script>