<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <%= javascript_include_tag "battleship", "data-turbolinks-track" => true  %>
        <%= stylesheet_link_tag "style.css" %>
    </head>
    <body>
        <div class='game' id='board1'></div>
        <div class='game' id='board2'></div>
    </body>
    
</html>



<script>
battleship.init( document.querySelector('#board1') );
battleship.init1( document.querySelector('#board2') );
battleship.start();
</script>