<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
    </head>
    <body>
        <header>
           
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
           <div>
           <p id="notice"><%= notice %></p>
           <h1>Bem vindo <%= current_user.nome.capitalize %> </h1>
           </div>
        </header>
             <nav>
                  <ul>
                    <li>
                        <a href='/jogo' id ="play">JOGAR</a>
                    </li>
                    <li>
                        <a href='/placar' id="aScore">PLACAR</a>
                    </li>
                     <li>
                        <a href='/edit' id="aScore">EDITAR PERFIL</a>
                    </li>
                </ul>
                <div class= "nav-container">
                  <table class="tableScore">
                  <thead>
                      <tr>
                          <th>
                              JOGADOR
                          </th>
                          <th>
                              PONTUAÇÃO
                          </th>
                      </tr>
                  </thead>
                  <tr>
                      <td><%= current_user.nome.capitalize %></td>
                      <td>1000pts</td>
                  </tr>
              </table><br>
               <button class= "home-logout"><%= link_to "SAIR", '/login' %></button>
              </div>  
            </nav>
    </body>
    
</html>