<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
        <link rel="stylesheet" href="assets/style.css" type="text/css" />
    </head>
    <body>
        <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <nav>
                <ul>
                    <li>
                        <a href='https://rails1-neuyer.c9users.io/jogo' id ="play">JOGAR</a>
                    </li>
                    <li>
                        <a href='https://rails1-neuyer.c9users.io/placar' id="aScore">PLACAR</a>
                    </li>
                     <li>
                        <a href='https://rails1-neuyer.c9users.io/edit' id="aScore">EDIT-PERFIL</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
         <table class="tableScore">
                  <thead>
                      <tr>
                          <th>
                              JOGADOR
                          </th>
                          <th>
                              PONTUAÇÃO
                          </th>
                      </tr>
                  </thead>
                  <tr>
                      <td>Arnaldo</td>
                      <td>1000pts</td>
                  </tr>
              </table>
        
       </main>
    </body>
    
</html>

<script>
//battleship.init( document.querySelector('#board1') );
//battleship.init1( document.querySelector('#board2') );
//battleship.start();

</script>