<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/battleship.js"></script>
    </head>
    <body>
        <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <h2 id= 'h2'>ESCOLHA A DIFICULDADE:</h2>
        </header>
<!-------------------------------------------------------------------------------------->
        <main class= 'main-containers'>
            <div class= 'modals modals-hint main-containers-div'>
                <p class= 'hint'>vc n pode fazer isso mané</p>
                <button class= 'hint-ok'>OK!</button>
            </div>
        
            <div class= 'modals modals-set-ship'><p class= 'set-hint'></p><br>
                 <input id='h' class= 'orientacao' type= 'button' value= 'HORIZONTAL'>
                 <input id= 'v' class= 'orientacao' type= 'button' value= 'VERTICAL'>
                 
            </div>
<!---------------------------------------
<!----------------------------------------------------->
            <div class= 'modals modal-dif main-containers-div'>
                <ul class= "dif-list">
                    <li id= 'f'><a class= 'dif' onclick="battleship.level1();battleship.init( document.querySelector('#board1') );battleship.init1( document.querySelector('#board2') );battleship.start();">FÁCIL</a></li>
                    <li id= 'm'><a class= 'dif' onclick="battleship.level2();battleship.init( document.querySelector('#board1') );battleship.init1( document.querySelector('#board2') );battleship.start();">MÉDIO</a> </li>
                    <li id= 'i'><a class= 'dif' onclick="battleship.level3();battleship.init( document.querySelector('#board1') );battleship.init1( document.querySelector('#board2') );battleship.start();">INSANO</a></li>
                </ul>
            </div>
           
            <div class= 'modals modal-dif main-containers-div'>
                 <figure><img class= 'img-level' src= 'assets/bomb-f.png'></figure>
            </div>
            
            <div class='game' id='board1'></div>
            <div class='game' id='board2'></div>
        
        </main>
        <!--<main>-->
        <!--    <div class='game' id='board1'></div>-->
        <!--    <div class='game' id='board2'></div>-->
        <!--</main>-->
        <!--<script>-->
        <!--    battleship.init( document.querySelector('#board1') );-->
        <!--    battleship.init1( document.querySelector('#board2') );-->
        <!--    battleship.start();-->
        <!--</script>-->
    </body>
    <script>
        var h2 = $('#h2').html();
         <%= 
             new_h2 = javascript_tag('document.write(h2)') 
             
             javascript_tag("document.querySelector('h2').innerHTML('aloha')")
             puts new_h2
         
         %>  
    </script>
    
    
</html>

