<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/battleship.js"></script>
    </head>
    <body>
        <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <h2>ESCOLHA A DIFICULDADE:</h2>
        </header>
        <main>
        <div class= 'modals modals-hint'><p class= 'hint'>vc n pode fazer isso mané</p><button class= 'hint-ok'>OK!</button></div>
        <div class= 'modals modal-dif'>
            <ul class= "dif-list">
                <li><a class= 'dif' id= 'f' onclick="battleship.level1();battleship.init( document.querySelector('#board1') );battleship.init1( document.querySelector('#board2') );battleship.start();">FÁCIL</a></li>
                <li><a class= 'dif' id= 'm' onclick="battleship.level2();battleship.init( document.querySelector('#board1') );battleship.init1( document.querySelector('#board2') );battleship.start();">MÉDIO</a> </li>
                <li><a class= 'dif' id= 'i' onclick="battleship.level3();battleship.init( document.querySelector('#board1') );battleship.init1( document.querySelector('#board2') );battleship.start();">INSANO</a></li>
            </ul>
            <figure><img class= 'img-level' src= 'assets/bomb-f.png'></figure>
        </div>
            <div class='game' id='board1'></div>
            <div class='game' id='board2'></div>
        
        </main>
        <!--<main>-->
        <!--    <div class='game' id='board1'></div>-->
        <!--    <div class='game' id='board2'></div>-->
        <!--</main>-->
        <!--<script>-->
        <!--    battleship.init( document.querySelector('#board1') );-->
        <!--    battleship.init1( document.querySelector('#board2') );-->
        <!--    battleship.start();-->
        <!--</script>-->
        
    </body>
    
</html>

