<a class= 'botao-voltar' href= '/home'> VOLTAR </a>
 <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <h1>PLACAR:</h1>
</header>

<table id='tableplc'>

<thead>	
	<tr class='tds'>
		<th>NOME</th>																		
		<th>PONTOS</th>  
	</tr>

</thead>

<tbody>

	<% @users.each do |user| %>
		<tr class='tds'>
			<td>
				<%= user.nome.capitalize %>
			</td>										
			<td>
				<%= user.scores.count * 100 %>
			</td>
		</tr>
	<% end %>
</tbody>

</table>


