<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship/placar</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
    </head>
    <body>
        <header>
             <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
        </header>
       
       <main>
           <h1>Placar</h1>
          
              <button class="return">VOLTAR</button>
              <table class="tableScore">
                  <thead>
                      <tr>
                          <th>
                              JOGADOR
                          </th>
                          <th>
                              PONTUAÇÃO
                          </th>
                      </tr>
                  </thead>
                  <tr>
                      <td>-------</td>
                      <td>-------</td>
                  </tr>
                  <tr>
                      <td>--------</td>
                      <td>-------</td>
                  </tr>
                  <tr>
                      <td>--------</td>
                      <td>-------</td>
                  </tr>
                  <tr>
                      <td>-------</td>
                      <td>-------</td>
                  </tr>
              </table>
        
       </main>
           
        
    </body>
    
</html>

<script>
//battleship.init( document.querySelector('#board1') );
//battleship.init1( document.querySelector('#board2') );
//battleship.start();

</script>