<a class= 'botao-voltar' href= '/home'> VOLTAR </a>
 <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <h1>PLACAR:</h1>
</header>


<table id='tableplc'>

<thead>	
	<tr class='tds'>
		<th>NOME</th>																		
		<th>PONTOS</th>  
	</tr>

</thead>

<tbody>

	<% @users.each do |user| %>
    	
    	<% @array << {"nm" => user.nome.capitalize, "pt" => user.scores.count * 100} %>
    	
    	<% @array = @array.sort_by{ |hsh| hsh["pt"] }.reverse %>
	
    <% end %>
    
    <% @array.each do |usr| %>
        <tr class='tds'>
        	<td>
        		<%= usr.fetch("nm") %>
        	</td>										
        	<td>
        		<%= usr.fetch("pt") %>
        	</td>
    	</tr>
    <% end %>
    
    
	
</tbody>

</table>





