
    <body>
        <header>
             <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <h1>EDITAR</h1>
        </header>
        <main class= 'main-containers'>
            <%= render 'formedit', user: @user %>
        </main>
    </body>
        





