 <header>
            <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
            <h1>CADASTRAR:</h1>
        </header>

<main class= 'main-container'>
    <%= render 'form', user: @user %>
</main>