@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cor-branca: #ffffff;
$cor-vermelha: #b71d1a;
$cor-amarela: #f9a01b;
$font-russo: 'Russo One', sans-serif;
$font-lucky: 'Luckiest Guy', sans-serif;
$font-p: 1rem;
$font-m: 2rem;
$font-g: 3rem;
 *{
     margin: 0;
     box-sizing: border-box;
 }
body{
 max-width: 1930px;
 max-height:758px;
 margin:0 auto;
 background-color: black;
 background-image: url(bg.png);
 background-position: top;
 background-repeat:no-repeat;
 background-size: 95%;
 font-family: $font-russo;
 color: $cor-branca;
 background-attachment: fixed;
}
    
header{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 10;
}

.main-containers{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    display:none;
    box-sizing: border-box;
}

.modals{
    text-align: center;
    font-size: $font-m;
    display: flex;
    width: 70%;
    margin: auto;
} 

.main-containers-div{
    width: 50%;
    margin: auto;
    text-align: center;
    float: left;
}

.modals-hint, .modals-set-ship{
    flex-direction: column;
    height: auto;
    background-color: black;
    padding: 2rem;
    position: absolute;
    left: 13%;
    display: none;
    z-index: 1000;
    font-size: $font-m;  
}

.modals-set-ship{
    input{
        width:50%;
        margin: auto;
    }
}
.hint-ok{
    width: 20%;
    margin-left: 75%;
    border: none;
    color: white;
    background-color: $cor-amarela;
}

ul{
    padding: 0;
    width: 100%;
}
#error_explanation{
    position:absolute;
    left: 0;
    width: 50%;
    z-index: 0;
    li{
        background-color: black;
        color: $cor-vermelha;
    }
}
// nav{
//     width: 90%;
//     margin: auto;
//     height: auto;
//     background-color: rgba(0,0,0,0.6);
//     display: flex;
//     box-sizing: border-box;
//     padding: 2rem;
// }

// -----------------------------------------------TEXTOS----------------------------------------------------
#notice{
    color: $cor-vermelha;
}

li:hover, a:hover{
    cursor: pointer;
}
li{
    list-style: none;
    background-color: $cor-amarela;
    margin: auto;
    margin-bottom: 1rem;
    width: 50%;
}

a, label, input{
    text-decoration: none;
    color: $cor-branca;
    font-size: $font-m;
}

input{
    margin-bottom: 2rem;
    background-color: $cor-amarela;
    border: none;
    font-size: $font-p;
    font-family: $font-russo;
}
// ------------------------------------------------BOTOES-------------------------------------
.home-logout{
    background-color: $cor-vermelha;
    border: none;
    margin-top: 1rem;
}

.action{
    input{
        border: none;
        margin-top: 1rem;
    }
}
li:hover, .home-logout:hover, .hint-ok:hover{
    background-color: $cor-vermelha;
    color: $cor-amarela;
}

#link_to_cadastro{
    font-size: $font-p;
}

// --------------------------------------------IMAGENS!important!important

.logotipo{
    height: 100px;
}
.img-level{
    max-height: 286px;
}


// ----------------------------------------------css Italo



.game {
    width:500px;
    height: auto;
    margin: auto;
    background-color: green;
    color: #fff;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    display: none;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    transform:rotateX(0deg);
    position: relative;
    z-index: 500;
}
  
.game > div {
    border: 1px solid #2c3e50;
    border-radius: 1px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(assets/navios/A1.png);
    width: 50px;
    height: 50px;
}