@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

 *{
     margin: 0;
     padding: 0;
 }
body{
 max-width:1366px;
 max-height:768px;
 padding: 2px;
 margin:0;
 background-color: black;
 background-image: url(bg.png);
 background-position: top;
 background-repeat:no-repeat;
 background-size: 95%;
 font-family: 'Russo One', sans-serif;
 color: #ffffff;
}

header{
    width: 100%;
    height: auto;
    text-align: center;
}

.logotipo{
    height: 100px;
}

nav{
    margin: auto;
    width: 100%;
    height: 20vh;
    background-color: rgba(0,0,0,0.6);
    font-size: 3rem;
    padding-top: 1em;
}
 li:nth-child(even){
     color: #b71d1a;
 }
li{
    list-style: none;
 
}

a:hover{
    cursor: pointer;
    background-color: rgb(249,160,27);
}

a{
    text-decoration: none;
    color: inherit;
    
}


main{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2em;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    display: none;
}

form{
      width: 50%;
      margin: auto;
      border: 1px solid #b71d1a;
      padding-top: 3rem;
      padding-bottom: 4.5rem;
      
}

    
label{
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    display: block;
    height: 10px;
    width: 50%;
    padding-left: 11rem;
    text-align: left;
}

.modals{
    text-align: center;
    font-size: 2em;
    display: none;
    
}

.tableScore{
    font-size: 2em;
    color: white;
    font-family: 'Russo One', sans-serif;
    margin: auto;
    width: 50%;
}

.tableScore th,td{
     border: 1px solid white;
     padding: 0.5em;
}

input{
    border:none;
    background-color: rgba(249,169,27,1);
    color: white;
    padding-left: 0.5em;
    
}

input:last-of-type{
    margin-top: 2rem;
}

#divDifficult ul{
    margin-top: 2rem;
}
.button, .return{
    border-radius: 20px;
    width: 100px;
    background-color: rgba(247,39,28,1);
    padding: 0;
    border: solid 3px black;
}
.button, .return:hover{
    cursor: pointer;
}
.return{
    color: white;
    display:block; 
    margin-left: 1em;
    margin-top: -0.5em;
}
.return, input{
    font-family: 'Russo One', sans-serif;
}







.game {
    width:35%;
    height: 500px;
    margin-left:10%;
    background-color: #34495e;
    color: #fff;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    float: left;
    transform:rotateX(0deg);
}
  
.game > div {
    border: 1px solid #2c3e50;
    border-radius: 1px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
